body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:1200px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:1200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:592px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:490px;
  top:0px;
  width:385px;
  height:793px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:793px;
}
#u3 {
  position:absolute;
  left:2px;
  top:388px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:522px;
  top:173px;
  width:320px;
  height:507px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:507px;
}
#u5 {
  position:absolute;
  left:2px;
  top:246px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:522px;
  top:113px;
  width:320px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:522px;
  top:133px;
  width:320px;
  height:40px;
  font-family:'Charlemagne Std Bold', 'Charlemagne Std';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:532px;
  top:143px;
  width:25px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:642px;
  top:139px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:522px;
  top:173px;
  width:320px;
  height:470px;
  font-family:'Charlemagne Std Bold', 'Charlemagne Std';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:470px;
}
#u15 {
  position:absolute;
  left:2px;
  top:227px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:532px;
  top:183px;
  width:100px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:642px;
  top:193px;
  width:100px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:732px;
  top:183px;
  width:100px;
  height:100px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u21 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:532px;
  top:293px;
  width:100px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:642px;
  top:293px;
  width:100px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:542px;
  top:403px;
  width:100px;
  height:100px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:732px;
  top:293px;
  width:100px;
  height:100px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:642px;
  top:403px;
  width:100px;
  height:100px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u31 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:732px;
  top:403px;
  width:100px;
  height:100px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u33 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:542px;
  top:513px;
  width:100px;
  height:100px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u35 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:672px;
  top:513px;
  width:100px;
  height:100px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u37 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:802px;
  top:133px;
  width:25px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
