extends layout

block content
    div(style = 'margin: 5px')
        h3 add comment
        form(action='/comment/add', method='get')
            p travelItemId
                input(type='text', name='travelItemId')
            p userId
                input(type='text', name='userId')
            p time
                input(type='text', name='time')
            p text
                input(type='text', name='text')
            input(type='submit')

        h3 query comment
        form(action='/comment/query', method='get')
            p id
                input(type='text', name='id')
            input(type='submit')
            
        h3 query comments by travel item id
        form(action='/comment/queryAll', method='get')
            p id
                input(type='text', name='travelItemId')
            input(type='submit')

        h3 remove comment
        form(action='/comment/remove', method='get')
            p id
                input(type='text', name='id')
            input(type='submit')

        h3 update comment
        form(action='/comment/update', method='get')
            p id
                input(type='text', name='id')
            p travelItemId
                input(type='text', name='travelItemId')
            p userId
                input(type='text', name='userId')
            p time
                input(type='text', name='time')
            p text
                input(type='text', name='text')
            input(type='submit')
    