extends layout

block content
    div(style = 'margin: 5px')
        h3 add travelItem
        form(action='/travelItem/add', method='get')
            p travelId
                input(type='text', name='travelId')
            p label
                input(type='text', name='label')
            p time
                input(type='text', name='time')
            p locationLat
                input(type='text', name='locationLat')
            p locationLng
                input(type='text', name='locationLng')
            p like
                input(type='text', name='like')
            p text
                input(type='text', name='text')
            p media
                input(type='text', name='media')
            input(type='submit')

        h3 query travelItem
        form(action='/travelItem/query', method='get')
            p id
                input(type='text', name='id')
            input(type='submit')
            
        h3 query travelItems by travel id
        form(action='/travelItem/queryAll', method='get')
            p travel id
                input(type='text', name='travelId')
            input(type='submit')
            
        h3 query nearby travelItems
        form(action='/travelItem/queryNearby', method='get')
            p locationLat lower bound
                input(type='text', name='locationLatLowerBound')
            p locationLat upper bound
                input(type='text', name='locationLatUpperBound')
            p locationLng lower bound
                input(type='text', name='locationLngLowerBound')
            p locationLng upper bound
                input(type='text', name='locationLngUpperBound')
            input(type='submit')

        h3 remove travelItem
        form(action='/travelItem/remove', method='get')
            p id
                input(type='text', name='id')
            input(type='submit')

        h3 update travelItem
        form(action='/travelItem/update', method='get')
            p id
                input(type='text', name='id')
            p travelId
                input(type='text', name='travelId')
            p label
                input(type='text', name='label')
            p time
                input(type='text', name='time')
            p locationLat
                input(type='text', name='locationLat')
            p locationLng
                input(type='text', name='locationLng')
            p like
                input(type='text', name='like')
            p text
                input(type='text', name='text')
            p media
                input(type='text', name='media')
            input(type='submit')
    