extends layout

block content
    div(style = 'margin: 5px')
        h3 add travel
        form(action='/travel/add', method='get')
            p userId
                input(type='text', name='userId')
            p name
                input(type='text', name='name')
            input(type='submit')

        h3 query travel
        form(action='/travel/query', method='get')
            p id
                input(type='text', name='id')
            input(type='submit')
            
        h3 query travels by user id
        form(action='/travel/queryAll', method='get')
            p user id
                input(type='text', name='userId')
            input(type='submit')

        h3 remove travel
        form(action='/travel/remove', method='get')
            p id
                input(type='text', name='id')
            input(type='submit')

        h3 update travel
        form(action='/travel/update', method='get')
            p id
                input(type='text', name='id')
            p userId
                input(type='text', name='userId')
            p name
                input(type='text', name='name')
            input(type='submit')
    