body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:1200px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:1200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:592px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:490px;
  top:0px;
  width:385px;
  height:793px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:793px;
}
#u3 {
  position:absolute;
  left:2px;
  top:388px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:522px;
  top:173px;
  width:320px;
  height:507px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:507px;
}
#u5 {
  position:absolute;
  left:2px;
  top:246px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:522px;
  top:113px;
  width:320px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:522px;
  top:133px;
  width:320px;
  height:40px;
  font-family:'Charlemagne Std Bold', 'Charlemagne Std';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:522px;
  top:545px;
  width:320px;
  height:136px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:136px;
}
#u11 {
  position:absolute;
  left:2px;
  top:60px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:642px;
  top:139px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:522px;
  top:443px;
  width:320px;
  height:120px;
}
.u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
.u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
.u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u17 {
  position:absolute;
  left:0px;
  top:30px;
  width:320px;
  height:10px;
}
.u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
.u17_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
.u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u18 {
  position:absolute;
  left:522px;
  top:173px;
  width:320px;
  height:162px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:162px;
}
#u19 {
  position:absolute;
  left:2px;
  top:73px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:522px;
  top:209px;
  width:320px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u21 {
  position:absolute;
  left:522px;
  top:243px;
  width:320px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u22 {
  position:absolute;
  left:522px;
  top:283px;
  width:320px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u23 {
  position:absolute;
  left:542px;
  top:183px;
  width:300px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:762px;
  top:173px;
  width:80px;
  height:75px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u26 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:522px;
  top:323px;
  width:320px;
  height:120px;
}
.u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
.u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
.u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u30 {
  position:absolute;
  left:0px;
  top:30px;
  width:320px;
  height:10px;
}
.u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
.u30_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
.u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u31 {
  position:absolute;
  left:532px;
  top:173px;
  width:40px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:582px;
  top:193px;
  width:130px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:522px;
  top:561px;
  width:320px;
  height:120px;
}
.u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
.u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
.u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u38 {
  position:absolute;
  left:0px;
  top:30px;
  width:320px;
  height:10px;
}
.u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
.u38_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
.u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u39 {
  position:absolute;
  left:762px;
  top:248px;
  width:80px;
  height:75px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u40 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:532px;
  top:248px;
  width:40px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:582px;
  top:255px;
  width:30px;
  height:25px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:532px;
  top:143px;
  width:25px;
  height:25px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
