body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:1200px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:1200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:592px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:490px;
  top:0px;
  width:385px;
  height:793px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:793px;
}
#u3 {
  position:absolute;
  left:2px;
  top:388px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:522px;
  top:173px;
  width:320px;
  height:507px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:507px;
}
#u5 {
  position:absolute;
  left:2px;
  top:246px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:522px;
  top:113px;
  width:320px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:522px;
  top:133px;
  width:320px;
  height:40px;
  font-family:'Charlemagne Std Bold', 'Charlemagne Std';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:577px;
  top:138px;
  width:210px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:522px;
  top:209px;
  width:320px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u12 {
  position:absolute;
  left:522px;
  top:309px;
  width:320px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u13 {
  position:absolute;
  left:552px;
  top:186px;
  width:300px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:552px;
  top:237px;
  width:300px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:522px;
  top:263px;
  width:320px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u18 {
  position:absolute;
  left:552px;
  top:283px;
  width:300px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:522px;
  top:355px;
  width:320px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u21 {
  position:absolute;
  left:552px;
  top:329px;
  width:300px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:522px;
  top:393px;
  width:320px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u24 {
  position:absolute;
  left:522px;
  top:433px;
  width:320px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u25 {
  position:absolute;
  left:532px;
  top:143px;
  width:25px;
  height:25px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
