body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:1200px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:1200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:592px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:490px;
  top:0px;
  width:385px;
  height:793px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:793px;
}
#u3 {
  position:absolute;
  left:2px;
  top:388px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:522px;
  top:173px;
  width:320px;
  height:507px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:507px;
}
#u5 {
  position:absolute;
  left:2px;
  top:246px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:522px;
  top:113px;
  width:320px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:522px;
  top:133px;
  width:320px;
  height:40px;
  font-family:'Charlemagne Std Bold', 'Charlemagne Std';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:532px;
  top:138px;
  width:25px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:522px;
  top:351px;
  width:320px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:3px;
  width:320px;
  height:5px;
}
#u13 {
  position:absolute;
  left:522px;
  top:671px;
  width:320px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:3px;
  width:320px;
  height:5px;
}
#u14 {
  position:absolute;
  left:522px;
  top:168px;
  width:320px;
  height:183px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:183px;
}
#u15 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:522px;
  top:361px;
  width:320px;
  height:310px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:310px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u18 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:160px;
  top:14px;
  width:150px;
  height:112px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:150px;
  top:0px;
  width:10px;
  height:640px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:623px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:640px;
}
#u22 {
  position:absolute;
  left:160px;
  top:174px;
  width:150px;
  height:112px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:160px;
  top:334px;
  width:150px;
  height:112px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:160px;
  width:140px;
  height:140px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u27 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:320px;
  width:140px;
  height:140px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u29 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:480px;
  width:140px;
  height:140px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u31 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:160px;
  top:494px;
  width:150px;
  height:112px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:632px;
  top:138px;
  width:101px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:802px;
  top:173px;
  width:30px;
  height:32px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:806px;
  top:205px;
  width:21px;
  height:19px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:802px;
  top:133px;
  width:25px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
