body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:1200px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:1200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:592px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:490px;
  top:0px;
  width:385px;
  height:793px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:793px;
}
#u3 {
  position:absolute;
  left:2px;
  top:388px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:522px;
  top:173px;
  width:320px;
  height:507px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:507px;
}
#u5 {
  position:absolute;
  left:2px;
  top:246px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:522px;
  top:173px;
  width:320px;
  height:508px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:508px;
}
#u7 {
  position:absolute;
  left:2px;
  top:246px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:522px;
  top:113px;
  width:320px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:522px;
  top:133px;
  width:320px;
  height:40px;
  font-family:'Charlemagne Std Bold', 'Charlemagne Std';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:532px;
  top:143px;
  width:25px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:622px;
  top:139px;
  width:121px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:522px;
  top:193px;
  width:320px;
  height:488px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:488px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:-320px;
  top:0px;
  width:320px;
  height:320px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:320px;
}
#u18 {
  position:absolute;
  left:2px;
  top:152px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:320px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:320px;
}
#u20 {
  position:absolute;
  left:2px;
  top:152px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:320px;
  top:0px;
  width:320px;
  height:320px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:320px;
}
#u22 {
  position:absolute;
  left:2px;
  top:152px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:21px;
  top:368px;
  width:278px;
  height:16px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:135px;
  top:440px;
  width:175px;
  height:27px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:27px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:-312px;
  top:350px;
  width:290px;
  height:96px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:96px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:-182px;
  top:456px;
  width:175px;
  height:27px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:27px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:338px;
  top:350px;
  width:290px;
  height:96px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:96px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:468px;
  top:456px;
  width:175px;
  height:27px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:27px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:533px;
  top:518px;
  width:269px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36 {
  position:absolute;
  left:712px;
  top:629px;
  width:60px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:702px;
  top:633px;
  width:29px;
  height:26px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u39 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:772px;
  top:629px;
  width:60px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:532px;
  top:201px;
  width:40px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
